@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box;
}

body {
    background-image: url("login_background.png") !important;
    background-size: cover;
    background-position: left;
    overflow-x: hidden;
}

.semi-bold {
    font-weight: 600; 
}

.bold {
    font-weight: 700;
}

.amarillo {
    color: #F5A623;
}

.title {
    border-bottom: 0 !important;
    border-top: 0 !important;
}

#dispositivos {
    max-width: 80%;
    max-height: 80%;
}

.dispositivos-titulo {
    max-width: 80%;
    max-height: 80%;
    margin-bottom: 100px;
    z-index: -1;
}

.titulo-agradecimientos {
    font-size: 25px;
}

.iconoFacebook {
    display: inline-block !important;
}

#EPGheader {
    background-color: transparent !important;
}

.presentacion {
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    z-index: -1;
}

.input-nuevo {
    background-color: transparent !important;
    border-radius: 5px;
    margin: -3px !important;
    height: auto;
    color: white;
}

.sin-fondo {
    background-color: transparent !important;
}

.register-container {
    background-color: #102135;
    position: relative;
    z-index: 10;
}

.title {
    font-size: 40px !important;
}

.title-left {
    margin-bottom: -20px !important;
    font-size: 35px !important;
}

.text-divisor {
    margin-top: 15px;
}

.title-sm {
    font-size: 10px;
    margin-top: 5.5px;
}

.center {
    text-align: center;
}
.label-registro {
    font-size: small;
    font-weight: 400;
}

.line {
    max-width: 100%;
}

.captcha {
    margin-bottom: -20px;
}

.register-bottom-custom {
    background-color: #ffd000 !important;
}

.terminos-condiciones {
    margin-top: 3px;
    margin-bottom: 20px !important;
    font-size: 12px;
    font-weight: 400;
}

.register-form-bottom_CUSTOM {
    border-top: 0px !important;
    margin-top: -90px;
}

.logo-CUSTOM {
    margin-left: 20px !important;
}

@media(max-width: 992px) {
    .register-container {
        background-color: transparent;
    }

    .logo-CUSTOM {
        margin-left: 0 !important;
    }

    .presentacion {
        text-align: center;
        margin-left: 15px !important;
        margin-right: 30px !important;
    }
}